[data-v-7572f159] .van-popup{background:#000!important}
[data-v-56fd36e7] .van-dialog{background:unset!important}
#dev-bg {
    background-image: url('../images/login_bg_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
